body {
  background-color: lavender;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

dl {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid black;
  border-radius: 20px;
}

dt {
  padding: 1rem;
  background-color: white;
  font-weight: bold;
  margin: 1rem;
  border-radius: 8px;
}

dd {
  padding: 1rem;
}
p {
  width: 80%;
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid silver;
  border-radius: 20px;
}
ul {
  width: 70%;
  padding: 1rem;
  margin: auto;
  border: 2px solid silver;
  border-radius: 20px;
}
a {
  text-align: center;
  display: block;
  margin: auto;
  padding: 1rem;
}
